.header {
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: #fff;
}

.title {
  margin-bottom: 0;
  color: #444;
}

.navCol {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 48rem) {
    justify-content: flex-start;
  }
}
