body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f4f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "Playfair Display", sans-serif;*/
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #35302b;
}

p {
  color: #35302b;
}

ul.nav li {
  list-style: none;
  margin: 0;
  display: inline-block;
}

ul.nav {
  padding: 0;
  margin: 0;
  margin-top: 2.75%;
}

ul.nav li a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
  font-size: 1rem;
}

ul.nav li a:hover {
  color: #777;
}

.content {
  padding: 20px;
  margin: 0 30px 0 30px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #777;
}
